---
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="Svelte Astro Threlte 3D Renderer" />
    <meta name="generator" content={Astro.generator} />
    <title>Svelte Astro Threlte 3D Renderer</title>
  </head>
  <body class="bg-green-500">
    <slot />
  </body>
</html>
